# Core Data Libraries
pandas==2.2.3
numpy==1.26.4

# Machine Learning & Explainability
scikit-learn==1.5.2
joblib==1.4.2
shap==0.44.1
matplotlib==3.9.2

# Streaming & Messaging
kafka-python==2.0.2
pyyaml==6.0.2

# Web Application
flask==3.0.3

# Utilities
tqdm==4.66.5
